body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    background-color: #000;
    background-size: cover; /* or contain, depending on how you want the image to fit */
    background-position:top;
    color: #fff;
    padding: 10px;
    text-align: center;
    overflow: hidden; /* Ensure the overlay covers the entire header */
}

.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.450); /* Semi-transparent black */
    z-index: 0; /* Ensure the overlay is behind the text */
}

.header-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1; /* Ensure the text is above the overlay */
}
.search-bar {
    flex: 1; /* Take remaining space */
    display: flex;
    align-items: center;
    justify-content:center; /* Center horizontally */
    position: relative;
}

.search-bar input[type="text"] {
    flex: 1;
    border: 1px solid #ccc;
    outline: none;
    padding: 6px;
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.search-bar input[type="text"]:focus {
    border-color: rgba(0, 123, 255, 0.5); /* Change border color when focused */
}

.search-bar input[type="text"]::placeholder {
    color: #ccc; /* Placeholder text color */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .header-content {
        flex-direction: column;
    }

    .header-logo {
        max-width:150px;
        height: auto;
        position: static;
        margin-bottom: 10px;
    }

    .search-bar {
        justify-content: center;
        margin-bottom: 10px; 
        width: 100%;/* Align items to the start for smaller screens */
    }

    .search-bar input[type="text"] {
        max-width: 300px; /* Adjust max width for smaller screens */
    }

    #account-icon,
    #cart-icon {
        margin-left: 0;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 4px;
        font-size: 10px; /* Adjust margin as needed */
      }

    nav ul li {
        padding-top: 10px;
    }
}

@media screen and (max-width: 500px) {
    /* Add styles specific to iPhones and other mobile devices */
    .header-content {
        flex-direction: column;
    }

    .header-logo {
        max-width:120px;
        height: auto;
        position: static;
        margin-bottom: 10px;
    }

    .search-bar {
        justify-content: center;
        margin-bottom: 10px;
        width: 100%;
    }

    .search-bar input[type="text"] {
        max-width: 130px;
    }

    #account-icon,
    #cart-icon {
        margin-left: 0;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 4px;
        font-size: 10px; /* Adjust margin as needed */
      }

    nav ul li {
        padding-top: 10px;
    }
}


.search-results {
    position: absolute;
    top: calc(100% + 10px); /* Position below the search input */ /* Position at the left edge of the viewport */
    width: 100%;
    max-width: 500px; /* Take up full width */
    background-color: #fff; /* Background color */
    border: 1px solid #ccc; /* Border */
    border-top: none; /* Remove top border to avoid double border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    display: none; /* Hide initially */
    z-index:9999;
}

.search-item {
    padding: 10px;
    cursor: pointer;
    color: #333; /* Set text color */
    border-bottom: 1px solid #ccc;
}

.search-item:last-child {
    border-bottom: none; /* Remove border for last item */
}

.search-item:hover {
    background-color: #f0f0f0;
}

.header-content .icon {
    margin-right: 10px; /* Adjust the spacing between icons */
    font-size: 20px; /* Adjust the icon size */
    cursor: pointer; /* Add cursor pointer to indicate interactivity */
    float: right; /* Align to the right */
}

.header-logo {
    width: 170px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    position: absolute; /* Position absolutely */
    left: 10px; /* Adjust the left position to your preference */
    top: 10px; /* Adjust the top position to your preference */
    z-index: 1; /* Ensure it stays above other elements */
}

.header-logo2 {
    width: 170px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    position: absolute; /* Position absolutely */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    top: 20px; /* Adjust the top position to your preference */
    z-index: 20; /* Ensure it stays above other elements, including the overlay */
}

.header-content2{
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between; /* Distribute items along the main axis */
    padding: 40px; /* Add padding to create space around elements */
    height: auto; /* Allow the header height to adjust based on its content */
}

nav {
    position: relative; /* Ensure that nav is positioned relative */
    z-index: 1; /* Set a z-index value for the nav */
}

nav ul {
    list-style-type: none;
    padding: 0;
    z-index: 1000;
    position: relative;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff; /* Text color */
    background-color: none; /* Background color */
    text-decoration: none; /* Remove underline */
    border: none; /* Border color */
    padding: 10px; /* Padding */
    position: relative;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
}

nav ul li a:hover {
    color: #3CB3F5;
    transition: color 0.3s ease;
}

nav ul li a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px; /* Adjust the glow height as needed */
    background-color: #3CB3F5; /* Glow color */
    opacity: 0;
    transition: opacity 0.3s; /* Smooth transition effect */
}

nav ul li a:hover:after {
    opacity: 1; /* Show glow effect on hover */
}

.icon:hover {
    color: #3CB3F5; /* Change the color to the desired glow color */
    transition: color 0.3s ease; /* Smooth transition effect */
    /* Add any additional styling for the glow effect */
    /* For example, you can add box-shadow */
}

#account-icon {
    font-size: 20px; /* Increase the font size */
    right: 80px; /* Distance from the right edge */ /* Add some space to the right */
    cursor: pointer; /* Add cursor pointer to indicate interactivity */
    float: right; /* Align to the right */
    position: absolute;
}

#cart-icon {
    font-size: 20px; /* Increase the font size */
    right: 10px; /* Distance from the right edge */ /* Add some space to the right */
    cursor: pointer; /* Add cursor pointer to indicate interactivity */
    float: right; /* Align to the right */
    position: absolute;
}

main {
    padding: 20px;
    text-align: center;
}

footer {
    position: relative;
    background-color: #000;
    background-size: cover; /* or contain, depending on how you want the image to fit */
    background-position:center;
    color: #fff;
    padding: 10px;
    text-align: center;
    overflow: hidden; /* Ensure the overlay covers the entire header */
}

.footer-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.450); /* Semi-transparent black */
    z-index: 0; /* Ensure the overlay is behind the text */
}

.footer-content {
    position: relative;
    z-index: 1; /* Ensure the text is above the overlay */
}

.footer-sections-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust column size as needed */
    grid-gap: 10px; /* Adjust gap between grid items */
}

.footer-sections-container-2{
    justify-content:center;
    align-items: center;
}

.footer-section {
    flex-basis: calc(33.33% - 20px); /* Set each section to occupy roughly one-third of the container width, minus margin */
    margin-bottom: 20px; /* Add space between sections */
}

.footer-section:last-child {
    margin-right: 0; /* Remove margin from the last section */
}

.footer-section h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.footer-section p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #ccc;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.footer-section.social-media ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer-section.social-media ul li:last-child {
    margin-right: 0;
}

.footer-section.social-media ul li a {
    color: #fff;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.footer-section.social-media ul li a:hover {
    color: #ccc;
}

.footer-section.app-store img {
    width: 350px; /* Set the width of download icons */
}

.footer-section.payment-methods i {
    margin: 0 5px; /* Adjust margin to create a gap between icons */
}


.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#video-bg {
    position: absolute;
    top: 40%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%) ; /* Adjust the scale value as needed */
}

#toggle-sound {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    font-weight: bold; /* Specify the font weight */
    color: white; /* Text color */
    background-color: transparent;
    border-radius: 5px;
}

@media (max-width: 768px) {
    #video-bg {
        width: 100%;
        height: auto;
        object-fit: cover;  /* Set height to fill the container */
    }
}

@media (max-width: 500px) {
    #video-bg {
        width: 100%;
        height: auto;
        object-fit: cover; /* Ensures video fills the container while maintaining aspect ratio */
    }
}

.quantity-input {
    width: 50px; /* Adjust the width as needed */
    padding: 5px;
    margin-right: 10px; /* Add some spacing between the input field and the button */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px; /* Add border radius for rounded corners */
}

.sort-dropdown {
    display: flex;
    align-items: center; 
    justify-content: flex-end;
    font-size: 22px; /* Increase the font size */
    position: relative;
}

.dropdown-label {
    flex: 1; /* Take up remaining space */
    text-align: center; /* Center the text */
    font-size: 30px;
    font-weight: bold;
}

.add-to-cart-btn {
    background-color: #333; /* Blue background */
    color: #fff; /* White text */
    border: none;
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Padding for better spacing */
    font-size: 16px;
    font-weight: bold; /* Bold text */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    text-transform: uppercase; /* Uppercase text */
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
}

/* Hover state */
.add-to-cart-btn:hover {
    background-color: #555; /* Darker blue on hover */
}

/* Focus state (when button is selected) */
.add-to-cart-btn:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); /* Add blue border on focus */
}

/* Disabled state */
.add-to-cart-btn:disabled {
    background-color: #ccc; /* Light gray background when disabled */
    color: #666; /* Dark gray text when disabled */
    cursor: not-allowed; /* Change cursor to indicate button is disabled */
}

.fade-animation {
    opacity: 0; /* Initially hide the car list */
    animation: fadeIn 1s forwards; /* Apply fade-in animation */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.product img {
    width: 350px; /* Set the width to your desired size */
    height: 200px; /* Set the height to your desired size */
    object-fit: cover; /* Ensure the image fills the specified dimensions */
}

.product {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px; /* Add margin to the bottom of each product */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
}

.product a:hover {
    text-decoration: none; /* Remove underline on hover */
    color: inherit; /* Inherit text color on hover */
}

.product-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Add margin between rows */
}

@media screen and (max-width: 768px) {
    .product-row {
        flex-direction: column; /* Display products in a single column */
    }
}

.product-container {
    display: flex;
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 20px; /* Add margin to the bottom of each product */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.product-details {
    flex: 1 1 auto; /* Let the text container grow or shrink as needed */
    padding: 20px;
}

.product-image {
    flex: 0 0 auto; /* Let the image shrink or grow as needed */
    padding: 20px;
    text-align:center; /* Adjust margin between image and text */
}

#product-image img {
    max-width: 100%;
    height: auto;
}

.product-info {
    flex: 1 1 auto;
    padding: 20px;
}

#product-name {
    font-size: 24px;
    margin-bottom: 10px;
}

#product-description {
    margin-bottom: 10px;
}

@media screen and (min-width: 769px) {
    .product-container {
        flex-direction: row;
    }

    .product-image {
        order: -1; /* Move the image to the left */
        flex: 0 0 50%;
    }

    .product-info {
        flex: 1 1 0;
    }

}

@media screen and (max-width: 500px) {
    .product-details {
        display: flex;
        flex-direction: column; /* Display items vertically */
    }
    .product-image {
        flex: none; /* Prevent the image from growing or shrinking */
        max-width: 100%; /* Set maximum width to 100% of the container */
        margin-bottom: 20px; /* Adjust margin between image and text */
    }

    #product-image img {
        width: 100%; /* Ensure the image fills its container */
        height: auto; /* Maintain aspect ratio */
    }

    .product-info {
        flex: none; /* Prevent the text from growing or shrinking */
    }
}

.overlay {
    text-align: center;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto; /* Allow vertical scrolling for overlay content */
    padding: 20px; /* Add padding to prevent content from touching edges */
    box-sizing: border-box; 
}

.overlay h1 {
    font-family: 'Arial', sans-serif; /* Specify the desired font family */
    font-size: 36px; /* Adjust the font size */
    font-weight: bold; /* Specify the font weight */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a text shadow for better visibility */
}

.overlay p {
    font-family: 'Arial', sans-serif; /* Specify the desired font family */
    font-size: 18px; /* Adjust the font size */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add a text shadow for better visibility */
}

.overlay .btn {
    font-family: 'Arial', sans-serif; /* Specify the desired font family */
    font-size: 16px; /* Adjust the font size */
    font-weight: bold; /* Specify the font weight */
    text-decoration: none; /* Remove underline */
    color: white; /* Text color */
    background-color: #007bff; /* Button background color */
    border: 2px solid #007bff; /* Button border */
    padding: 10px 20px; /* Button padding */
    border-radius: 5px; /* Button border radius */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
}

.overlay .btn:hover {
    background-color: #0056b3; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
}

@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
.home-page-text {
    animation: slideIn 1s ease-in-out forwards;
  }

@keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.home-button{
    animation: FadeIn 1s ease-in-out forwards;
    opacity: 0; /* Add a delay of 1 second */
    animation-delay: 1.5s;
}

.contact-container {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    max-width: 1100px; /* Set the maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
}

.company-address {
    flex: 1;
    background-image: url('../images/form.avif');
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the last value (alpha) to control darkness */
    background-blend-mode: overlay; 
    background-size: cover; /* Cover the entire background */
    background-position: center; 
    color: #fff; /* Text color */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.company-address img {
    max-width: 300px;
}

.company-address h3 {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Add a black outline */
    margin-top: 75px;
}

.company-address p {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; /* Add a black outline */
}

#contact-form {
    flex: 1;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

#contact-form h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

#contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    transition: border-bottom-color 0.3s ease;
    border-radius: 0;
}
#contact-form input[type="text"]:focus,
#contact-form input[type="email"]:focus,
#contact-form textarea:focus {
    outline: none;
    border-color: #3CB3F5; /* Change border color on focus */
}

#contact-form textarea {
    height: 100px;
    resize: vertical;
}

.cars-button,
#contact-form button,
.checkout-form button,
.account-form-submit {
    background-color: #333; /* Blue background */
    color: #fff; /* White text */
    border: none;
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Padding for better spacing */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cars-button:hover,
#contact-form button:hover,
.checkout-form button:hover,
.account-form-submit:hover {
    background-color: #555;
}

.cars-button:focus,
#contact-form button:focus,
.checkout-form button:focus,
.account-form-submit:focus 
 {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); /* Add blue border on focus */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.order-summary {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px; /* Add some spacing between the sections */
}

.order-summary h2 {
    margin: 10px; /* Remove default margin */
}
.order-item-header {
    display: flex;
    flex-direction: row; /* Display headers in a row */
    justify-content: space-between;
    align-items: center;
}

.order-item-header span {
    font-weight: bold;
    flex: 1; /* Distribute space evenly among the spans */
    margin-left: 3%;
    padding: 10px; /* Add some padding for spacing */
}

.order-item {
    display: flex;
    flex-direction: row; /* Change flex direction to row */
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.order-item:last-child {
    border-bottom: none; /* Remove border for the last item */
}

.order-item span {
    flex: 1; /* Distribute space evenly among the spans */
    padding: 7px; /* Add some padding for spacing */
}

.order-item .action {
    flex: 0.5; /* Adjust width of action column */
}

.remove-item-btn {
    background-color: #f44336; /* Red color */
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-item-btn:hover {
    background-color: #d32f2f; /* Darker red on hover */
}

.order-item .item-quantity {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.total {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.checkout-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout-header img {
    width: 300px; /* Adjust size as needed */
    cursor: pointer;
}

.checkout-header p{
    font-size: 24px;
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    .checkout-section {
        display: flex;
        flex-direction: column; /* Change to column layout for smaller screens */
    }

    .checkout-section label {
        margin-bottom: 10px; /* Increase spacing between labels */
    }

    .cvv-expiry .input-row {
        margin-bottom: 10px; /* Increase spacing between input rows */
    }

    .cvv-expiry {
        display: flex;
        flex-direction: column; /* Change to column layout for CVV and Expiry Date */
    }

    .cvv-expiry .input-row {
        margin-bottom: 10px; /* Increase spacing between CVV and Expiry Date */
    }
}

.checkout-form {
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
.checkout-section {
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Arrange items side by side */
    gap: 20px; /* Add gap between sections */
}

.checkout-form h2 {
    margin-top: 10px;
    margin-bottom: 50px;
    color: #333;
}

.contact-info,
.card-details {
    flex: 1; /* Each section takes up equal space */
    margin-bottom: 10px;
}

.checkout-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
    text-align: left;
}

.checkout-form input[type="text"],
.checkout-form input[type="email"],
.checkout-form textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    transition: border-bottom-color 0.3s ease;
    border-radius: 0;
}

.checkout-form input[type="text"]:focus,
.checkout-form input[type="email"]:focus,
.checkout-form textarea:focus {
    outline: none;
    border-color: #3CB3F5; /* Change border color on focus */
}

.cvv-expiry {
    display: flex; /* Display CVV and expiry date inputs in a row */
    flex-direction: row;
}

.cvv-expiry label,
.cvv-expiry input[type="text"] {
    flex: 1; /* Make labels and inputs evenly share the available space */
}

.cvv-expiry input[type="text"]:last-child {
    margin-right: 10; /* Remove margin for the last input to prevent extra spacing */
}

.checkout-buttons {
    margin-top: 20px; /* Add margin to separate from sections */
    text-align: center;
}

.account-form-container {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.account-form-container h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.account-form-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.account-form-container input[type="text"],
.account-form-container input[type="email"],
.account-form-container textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: transparent;
    transition: border-bottom-color 0.3s ease;
    border-radius: 0;
}
.account-form-container input[type="text"]:focus,
.account-form-container input[type="email"]:focus,
.account-form-container textarea:focus {
    outline: none;
    border-color: #3CB3F5; /* Change border color on focus */
}

.account-form-container textarea {
    height: 100px;
    resize: vertical;
}

/* Form toggle link */
.toggle-link {
    text-align: center;
    margin-top: 10px;
}

.toggle-link a {
    color: #3CB3F5;
    text-decoration: none;
}

.toggle-link a:hover {
    text-decoration: underline;
}

.about-container,
.home-container {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px; /* Add margin to the bottom of each product */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.about-content,
.commitment-section,
.intro-content,
.soon-content,
.feature,
.review-content {
    position: relative;
    max-width: 90%; 
    margin: 0 auto;
    margin-top: 50px;
}

.slideshow-container {
    position: relative;
    max-width: 90%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the slideshow horizontally */
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-container {
    display: flex;
    flex-wrap: wrap; /* Allow images to wrap within the container */
    justify-content: center; /* Center the images horizontally */
}

.image-container img {
    width: 100%;
}

.textbox {
    border: 1px solid #bbb;
    padding: 10px;
    margin-top: 5px;
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    user-select: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.dot-container {
    text-align: center;
    margin-top: 10px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.active {
    background-color: #3CB3F5;
}




